*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
* a{
    text-decoration: none;
}
* li{
    list-style: none;
}
.container{
    position: relative;
    min-height: 100vh;
}
.bg{
    width: 100%;
    height: 100%;
    position: relative;
}
.bg::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/IMAGES/IMAGE1.jpg');
    z-index: -1;
    background-size: cover;
    background-position: center;
    filter: brightness(45%);
}
.menu{
    position: relative;
    width: 85%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font-size: 5em;
    color:white;
}
.menu ul{
    display: flex;
    align-items: center;
}
.menu ul li{
    padding: 0 18px;
}
.menu ul li a{
    font-weight: bold;
    color: white;
    font-size: 30px;
}
.content{
    width: 85%;
    margin: 0 auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.content .header,.grid-card{
    width: 50%;
    position: relative;
}
.content .header{
    color: white;
    padding: 20px;
}
.content .header h3{
    font-size: 5em;
    letter-spacing: 55px;
    color: orangered;
    font-weight: bold;
}
.content .header h1{
    font-size: 4em;
}
.content .header .p{
    opacity: .6;
}
.grid-card{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}
.grid-card .box{
    width: 100%;
    height: 230px;
    background: red;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    transition: .4s;
    position: relative;
}
.bg1{
    background-image: url(/IMAGES/Image4.jpg);
}
.bg2{
    background-image: url(/IMAGES/Image4.jpg);
}
.bg3{
    background-image: url(/IMAGES/Image4.jpg);
}
.bg4{
    background-image: url(/IMAGES/Image6.jpg);
}
.content .box h2{
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: white;
}