*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
* a{
    text-decoration: none;
}
* li{
    list-style: none;
}
.container{
    position: relative;
    min-height: 100vh;
}
.bg{
    width: 100%;
    height: 100%;
    position: relative;
}
.bg::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/IMAGES/IMAGE1.jpg');
    z-index: -1;
    background-size: cover;
    background-position: center;
    filter: brightness(45%);
}
.menu{
    position: relative;
    width: 85%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font-size: 5em;
    color:white;
}
.menu ul{
    display: flex;
    align-items: center;
}
.menu ul li{
    padding: 0 18px;
}
.menu ul li a{
    font-weight: bold;
    color: white;
    font-size: 30px;
}
#tictac
{
  margin-top:70px;
}
.game
{
  width:100px;
  height:100px;
  margin:5px;
  font-size: 50px;
  border-radius: 20px;
  border:none;
  font-family:'Baloo', cursive;
}